<!-- Sidebar  -->
<div class="sidenav-sm">
    <nav id="">
        <div class="sidebar-header d-flex justify-content-between">
            <img class="logo-width ml-2" src="./assets/images/logo.png" alt="Stikkum">
            <button type="button" id="sidebarCollapse" class="btn white-bg Collapse-lg">
                <i class="fas fa-chevron-left menu-icon-back"></i>
            </button>
        </div>
        <ul class="list-unstyled components">
            <li class="side-nav-bg" id="sideNavSettingDashboard">
                <a href="/admindashboard">Dashboard</a>
            </li>

            <li class="side-nav-bg" id="sideNavHelp">
                <a href="/help">Help</a>
            </li>

        </ul>
    </nav>
    <footer>
        <div class="col-sm-12 sidenav-footer pb-3">
            <div>
                <h1 class="sidenav-footer-text">
                    <b>nn</b> © <span class="footer-copyright-date" id="currentYear">2021.</span> All Rights Reserved.</h1>
            </div>
            <div>
                <a href="" target="_blank" class="mr-2">
                    <img src="" class="footer-icon" alt="Linkdin">
                </a>
                <a href="" target="_blank" class="mr-2">
                    <img src="" class="footer-icon" alt="Twitter">
                </a>
                <a href="" target="_blank">
                    <img src="" class="footer-icon" alt="Facebook">
                </a>
            </div>
        </div>
</footer>
</div>