#Node modules
client/node_modules/
server/node_modules/
node_modules/
build/
uploads
log
#uploads
server/uploads
#dbconnection
server/dbConnection.js
server/config/config.json

#Package
server/package-lock.json

server/emaillog/*
server/templates/*
server/temporary/*  
server/config/config.json
server/node_modules/

