<div class="row">
    <div class="ml-3 mt-4">
        <div>
			<span style="float: right;"><b><a href="/login">Login</a>&nbsp;&nbsp;<a href="/enrollment">Sign Up</a></b></span>
            <h2 style="text-align:center;">Welcome you, d 30 seconds to place order</h2>

        </div>
        <div style="background-color: #0097a7;" class="w-100">
            <div class="color m-2">
                <div class="m-3 pt-3">
                    WIN GO 
                    3 minutes 1 round, 2 minutes and 30 seconds to place order, <br> 30 seconds to show the lottery result. it opens 24*7.
                </div>
                <div class="m-1 ml-3">
                    <!-- <p class="side-nav-bg" style="float: right;">
                        <a href="/gotoplay">Play</a>
                    </p> -->
                    <br><br>
                </div>
            </div>
        </div>
        
    </div>
</div> 
<!-- 
<div class="row">
    <div class="color">

        <button>Play</button>
    </div>
</div> -->

<!-- 
100             300
200             600
300             900
300             900
100             300
        1000            3000
100             300       
400             1200
300             900
400             1200
100             300 
        1300            3900




Green         100      2000                200     
Red              100       100   400   1500    300
Voilet              400


make a array 1-9 and compare number 3 to random index of array, if 3 matches with 
random index of array then it will return the voilet color 
 -->
