<!-- Inside index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta content=
		"This is a demo of Web integration
		of Razorpay in NodeJS"
		author="Mr. Twinkle Sharma" />
	<title>Razorpay Web-Integration</title>
</head>

<body>
	<hr/>
	<h2>Advanced Data Structures & Algorithms Course</h2>
	<h3>Description</h3>

	<ul>
		<li>Best Course for SDE placements</li>
		<li>
			Available in 4 major Languages JAVA,
			C/C++, Python, Javascript
		</li>
		<li>Lifetime Access</li>
	</ul>

	<span> Cost:- 499 Rupees
		<button id="pay-button" >
			Pay Now & Get Access
		</button>
	</span>
	<hr/>
    <!--Inside index.html -->
<!-- <script src="https://checkout.razorpay.com/v1/checkout.js"></script> -->
<!-- <script> -->

<!-- </script> -->
<!-- <script src="https://checkout.razorpay.com/v1/checkout.js"></script> -->



	<!-- Processing Payment Checkout -->
	<!-- We will write code for payment here,
		Replace this comment with the code we
		are explaining below in step 5 of the
		article -->
</body>

</html>






<!-- <div class="row">
    <div class="ml-3">
        <div>
            <h2>Welcome you, d 30 seconds to place order</h2>
        </div>
        <div style="background-color: #0097a7;">
            <div class="color m-2">
                <div class="m-3 pt-3">
                    WIN GO 
                    3 minutes 1 round, 2 minutes and 30 seconds to place order, <br> 30 seconds to show the lottery result. it opens 24*7.
                </div>
                <div class="m-1 ml-3">
                    <p class="side-nav-bg" style="float: right;">
                        <a href="/gotoplay">Play</a>
                    </p>
                    <br><br>
                </div>
            </div>
        </div>
        
    </div>
    
</div> -->
<!-- 
<div class="row">
    <div class="color">

        <button>Play</button>
    </div>
</div> -->

<!-- 
100             300
200             600
300             900
300             900
100             300
        1000            3000
100             300       
400             1200
300             900
400             1200
100             300 
        1300            3900




Green         100      2000                200     
Red              100       100   400   1500    300
Voilet              400


make a array 1-9 and compare number 3 to random index of array, if 3 matches with 
random index of array then it will return the voilet color 
 -->
